body{
    background-color:#bae1ff;
}ul.category {
     list-style-type: none;
     margin: 0;
     padding: 0;
     padding-bottom: 5px;
 }
ul.subcategory {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
}
.custom-select{
    width: auto;
}

.proizvod p{
    text-align: left;
    font-size: larger;
}

.proizvod {
    background-color:#00ff11;
    border: dashed;
    border-left: none;

}
.prob {
    background-color:#00ff12;
    margin-left: 20px;
    border: dashed;
    border-right: none;
}

.category li {
    float: left;
    list-style: none;
    text-align: center;
    background-color:#ff0000;
    margin:2px;
    width: 150px;
    line-height: 34px;
    border-radius: 15px;
}
ul #category{
    border: 2px solid black

}
